<?xml version="1.0" encoding="UTF-8"?>

<launch>

  <node name="rviz" pkg="rviz" type="rviz" args="-d '$(find line_follwer)/rviz/rviz_config1.rviz'"/>

  <arg name="model" default="$(find line_follwer)/urdf/bot.urdf"/>

  <param name="robot_description" command="$(find xacro)/xacro.py $(arg model)"/>

  <!--<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="False"/>
  </node>-->

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

</launch>
